doctype
html
  head
    link(rel="stylesheet" href="./styles/main.css")
  body
    != yield
    script(src="./scripts/main.js")
    script(src="./scripts/freq-check.js")
    script(src="./scripts/sub-ciph.js")
    script(src="./scripts/vig-ciph.js")
    script(src="./scripts/pat-find.js")